@model Test.Board.WebApp.Models.GeneralBoardDto

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>[@Model.CategoryName] - @Model.Title</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Contents</td>
            </tr>
        </tbody>
    </table>
    <div align="left">
        <button type="submit" class="btn btn-primary" id="actionDelete">삭제</button>
    </div>
    <div align="right">
        <a class="btn btn-primary" asp-controller="Board" asp-action="Edit" asp-route-No="@Model.Number">수정</a>
        <a class="btn btn-primary" asp-controller="Board" asp-action="List">목록</a>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>

    $(function () {
        $('#actionDelete').on('click', function () {
            if (confirm('삭제하시겠습니까?')) {
                var urlParams = new URLSearchParams(location.search);
                var number = urlParams.get('No');
                let currentLocation = location.protocol + '//' + location.host;

                $.ajax({
                    url: currentLocation + '/Board/Delete/',
                    data: {
                        'number': number
                    },
                    type: 'POST',
                    success: function (data) {
                        debugger;
                        if (data.result == 0) {
                            location.href = currentLocation + '/Board/List';
                        }
                        else {
                            alert('delete fail');
                        }
                    },
                    error: function (error) {
                        alert(error.status);
                    }
                });
            }
        });
    });
</script>